# Bytecode & virtual env
__pycache__/
*.py[cod]
env/

# Django database
*.sqlite3

# Django secrets
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db

# Django files
*.env
.env

# VSCode / Mac / OS junk
.vscode/
.DS_Store

# Static & media (optional if large)
staticfiles/
media/

# Django secret settings
mediconnect/settings_secret.py

# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environment
env/

# SQLite DB
db.sqlite3

# Media files
/media/
