# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# SQLite database
db.sqlite3

# Virtual environment
env/

# Django stuff:
*.log
*.pot
*.pyc

# VSCode and OS files
.vscode/
.DS_Store
